footer {
  height: auto;
  background-color: var(--secoundColorLight);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  padding: 0.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.footer .im {
  width: 30px;
  height: 30px;
}
.footer h3 {
  height: max-content;
  margin: auto 0.5rem;
  font-size: 0.9rem;
}

.footer .zoom,
.mouse,
.box {
  display: flex;
  align-items: center;
}

.zoom-controls {
  display: inline-block;
  background-color: var(--secoundColorLight);
  height: max-content;
  padding: 0.5rem;
  border-radius: 20px;
}
.zoom-controls input {
  display: inline-block;
  cursor: grabbing;
}

#zoom-slider {
  width: 150px;
}

/* Tablet */
@media (max-width: 768px) {
  .footer {
    width: 95%;
  }
  #zoom-slider {
    width: 120px;
  }
  .footer h3 {
    font-size: 0.8rem;
  }
}

/* Phone */
@media (max-width: 540px) {
  footer {
    padding: 0.4rem;
  }
  .footer {
    width: 100%;
    justify-content: center;
  }
  .footer .mouse,
  .footer .box {
    display: none;
  }
  .footer .zoom {
    margin: 0 auto;
  }
  .footer .zoom .im {
    width: 24px;
    height: 24px;
  }
  #zoom-slider {
    width: 100px;
  }
}
